---
layout: default
title: Homepage
---
<nav class="stripes sprites" id="sprites">
  <a href="writings.html">
    <img src="assets/images/cd_pixel.avif" class="iconart" alt="CD sprite">
    Music
  </a>
  <a href="projects.html">
    <img src="assets/images/old_pc_pixel_clear.png" class="iconart" alt="Computer sprite">
    Projects
  </a>
  <a href="writings.html">
    <img src="assets/images/books_clear.png" class="iconart" alt="Book sprite">
    Writings
  </a>
</nav>

<section id="music">
  <div class="stripes">
    <img src="assets/images/cd_pixel.avif" class="iconart" alt="Music Disc">
      <h4>Music for the Week</h4>
      <ul>
        {% for post in site.posts %}
          {% if post.categories contains "music" %}
            <li class="expand">
              <img src="{{ post.cover_art_url }}" class="album-art" alt="album art">
              <div>
                <p class="music-info sub-text">{{ post.artist }}</p>
                <p class="music-info sub-text">{{ post.album }}</p>
                <p class="music-info sub-text">{{ post.track_number }}</p>
                <h4 class="music-info title-text">{{ post.song_title }}</h4>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
  </div>
</section>

<section id="projects">
  <div class="stripes">
    <img src="assets/images/old_pc_pixel_clear.png" class="iconart" alt="Computer sprite">
    <h4>Projects</h4>
  </div>
</section>

<section id="writing">
  <div class="stripes">
    <img src="assets/images/books_clear.png" class="iconart" alt="Book sprite">
    {% for post in site.posts %}
      {% if post.categories contains "blog" %}
      <a href="{{ post.url }}" style="text-decoration: none; color: inherit;">
        <h4>
          {{ post.title }}
          {{ post.url }}
        </h4>
      </a>
      <p>{{ post.date | date_to_string }} by {{ post.author }} </p>
      {% endif %}
    {% endfor %}
  </div>
</section>
