<nav id="side-menu">
<a href="music.html"><img src="assets/images/cd_pixel.avif" class="iconart-nav" alt="CD Sprite">Music</a>
<a href="projects.html"><img src="assets/images/old_pc_pixel_clear.png" class="iconart-nav" alt="Computer sprite">Projects</a>
<a href="writings.html"><img src="assets/images/books_clear.png" class="iconart-nav" alt="Book sprite">Writings</a>
</nav>

<div class="header-container">
<button id="menu-toggle">☰</button>
<header>
  <a href="/">
      <img src="{{ "assets/images/jdk_logo.png" | absolute_url }}" class="iconart" alt="CD sprite">
  </a>
</header>
</div>
