:root {
  --background-light-gray: rgba(200, 200, 200, 1);
  --background-dark-gray: rgba(50, 50, 50, 1);
  --text-color-light-gray: rgba(180, 180, 180, 1);
  --text-color-dark-gray: rgba(100, 100, 100, 0.9);
  --text-color-light-blue: rgba(74, 164, 224, 1);
  --background-orange: rgba(#fa8050);
  --background-orange-gradient-top: #ff8254;
  --background-orange-gradient-bottom: #ff4400;
}

@keyframes expand {
  0% {
    scale: 100% 100%;
  }
  100% {
    scale: 125% 125%;
  }
}

@keyframes contract {
  0% {
    scale: 125% 125%;
  }

  100% {
    scale: 100% 100%;
  }
}

html {
  font-size: 16px;
  font-family: Lato;

}

body {
  background-image: url("../images/blueSeamlessPxArt.png");
}

main {
  margin: auto;
}

h4 {
  margin: 0px;
  margin-bottom: 1rem;
}

header {
  margin: auto;
}

.stripes {
  background-image: url("../images/small_stripes.png");
  border: 0.125rem solid #cbcbcb;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 1rem;
  /*Background*/
  background-color: #27231c;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='48' viewBox='0 0 60 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='fancy-rectangles' fill='%236a440c' fill-opacity='0.4'%3E%3Cpath d='M6 12h6v12H6V12zm12 0h6v12h-6V12zm6-12h6v12h-6V0zM12 0h6v12h-6V0zm0 24h6v12h-6V24zM0 0h6v12H0V0zm6 36h6v12H6V36zm12 0h6v12h-6V36zm12-12h6v12h-6V24zM42 0h6v12h-6V0zm-6 12h6v12h-6V12zm12 0h6v12h-6V12zM36 36h6v12h-6V36zm12 0h6v12h-6V36zm-6-12h6v12h-6V24zm12 0h6v12h-6V24z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: var(--text-color-light-gray);
}

#logo{
  width: auto;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0 0 0.75rem orange);
}

.iconart {
  width: auto;
  height: 5vh;
  margin-left: 1rem;
  margin-right: 1rem;
}

.iconart-nav {
  width: auto;
  height: 10vh;
}

.sprites {
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 0.5rem;
}

.sprites a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: var(--text-color-light-gray);
  font-size: 1rem;
  cursor: pointer;
}

#side-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: max-content;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  padding: 1rem;
  z-index: 1000;
  border-radius: 0px 0px 2rem 0px;
}

#side-menu.open {
  transform: translateX(0);
}

#side-menu a {
  color: white;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.header-container {
  display: flex;
  align-items: center;
}

#menu-toggle {
  background: rgb(0,0,0,0.9);
  border-radius: 1rem;
  color: var(--text-color-dark-gray);
  cursor: pointer;
  padding: 0.5rem;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  font-size: 20px;
}


#music li {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 1rem;
  padding: 1.0rem;
  display: flex;
  width: max-content;
  /*
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  */
  margin: 0.25rem;
}

#music ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-inline-start: 0px;
  justify-content: center;
}

.music-info {
  margin-top: 0px;
  margin-bottom: 0px;
}

.sub-text {
  color: var(--text-color-dark-gray);
}

.title-text {
  color: var(--text-color-light-gray);
}

.expand {
  animation-name: contract;
  animation-duration: 0.3s;
}

.expand:hover {
  animation-name: expand;
  animation-duration: 1s;
  animation: expand 1s forwards;
  animation-play-state: running;
}

.expand:hover:active {
  animation-play-state: paused;
}

.album-art {
  width: auto;
  height: 10vh;
  margin: 0px;
  margin-right: 0.5rem;
  align-items: center;
  justify-content: center;
}
